
{% extends 'body.html.twig'  %}
{% block content %}

 <h2>Produit</h2>
{{ form_start(formView) }}
 {{ form_errors(formView) }}
 {{ form_row(formView.name) }}
 {{ form_row(formView.price) }}
 {{ form_end(formView) }}

{% endblock %}
